.Button {
  background-color: #2f3147;
  border: 1px dotted #ccc;
  color: #fff;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 20px;
  width: 100%;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 2px;
}

.Button:hover {
  border: none;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
