.todo_wrapper {
  min-height: 100px;
  margin-top: 80px;
}

.todos {
  background-color: #282b44;
  min-height: 120px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  max-width: 550px;
}

.todo_header {
  background-color: #2f3146 !important;
  color: #7d7c89 !important;
  padding: 25px;
  font-weight: bold;
  font-size: 20px;
}

.todo_body {
  max-height: 450px;
  overflow-y: auto;
  padding: 20px;
}
